.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: pink;
    font-size: 25px;
    border: 2px solid rgb(9, 16, 110);
    border-radius: 25px;
}
.profile:hover,
.profile:focus {
  cursor: pointer;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.description {
    font-size: 20px;
    color: black;
}
.avatar_profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 1px solid black;
}
.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-bottom: 20px;
    list-style: none;
    gap: 20px;
}


.label {
    font-size: 20px;
    color: red;
    font-weight: 700;
}
.quantity {
    font-size: 20px;
    color: black;
    font-weight: 700;
}

.tag {
    color: blue;
}

.tag:hover,
.tag:focus {
    color: red;
    cursor: pointer;
}